*{
    padding:0;
    margin: 0;
    text-align: center;
}
body
{
    background-color: #F8F6E3;
    
}
h1{
    
    color:#D20062;
    text-align: center;
    font-size:4rem;
}
.choice
{
    height:202px;
    width:202px;
    padding: 0.5rem;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    
    cursor: pointer;
    background-color: #D20062;;
}
img
{
    height:200px;
    width:200px;
    border-radius:50%;
    object-fit: cover;
}
.choices
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap:3rem;
}
p
{
    font-size: 2rem;
}
.scorebar
{
    display:flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 6rem;
}
.msg
{
    margin-top: 4rem;
}
.m
{
    background-color:  rgb(18, 18, 96);
    color: white;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}